* {
margin: 0;
padding: 0;
border: 0;
background-size: cover;
}

.ajuste-carousel-img{
    display: flex;
    aspect-ratio: 3/2;
    object-fit: cover;
    position: center center;
}

header .navbar{
    align-items:first baseline;
    height: 60px;
    position: absolute;
    z-index: 1000;
    top: 0%;
    width: 100%;

}

.navCustomPadding{
    padding-left: 10%;
    padding-right: 10%;
}

.carousel-inner{
    object-fit: relative;
}



.contenedorUno {
    background-color: black;
    padding-left: 10%;
    padding-right: 10%;
    
}

hr{
    color: white;
    width: 100%;
    justify-content: center;
}

.contenedorUno .row{

    padding-bottom: 5%;
}

.boton1{
    width: 100% !important;
    max-height: 50px;
    border-radius: 1px !important;
    border: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

 

}

.boton1:hover{
    color: rgb(0, 110, 255) !important;
    background-color: rgb(51, 240, 199) !important;
}

i{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 28px;

}

.contenedorDos{
    background-color: black;
    text-align: center;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
}


.card-body{
    text-align: left !important;
    color: white;
    
}

.contendor-arregloImagen{
    overflow: hidden;  
    width: auto;
    height: 180px;
    min-height: 37%;
    max-height: 40%;
   
}

.arregloImagen1{
    display: flex;
    width: 120%;
    position: center center;
    object-fit: cover;
}


.formulario{
    padding-left: 10%;
    padding-right: 10%;
    background-color: black;
}

.footerP{
    margin-left: 15%;
    vertical-align: middle;
    padding-top: 2%;
}

.footerIcons{
    padding-left: 15%;
}

.footerIcons a:active{
    text-decoration: none;
    outline: none;
    color: inherit;
}

@media(max-width:991px){
    .boton2Hidden{
        display: block !important;
    }

    .boton2{
        display: none !important;
    }
    .parrafo{
        margin-bottom: 5%;

    }
}

