* {
margin: 0;
padding: 0;
border: 0;
background-size: cover;
}


header{
    background-color: aqua;
    background-size: cover;
    max-height: 1200px;
    overflow: hidden;
}



header .navbar{
    align-items:first baseline;
    height: 100px;
    position: absolute;
    z-index: 1000;
    top: 0%;
    width: 100%;

}

.carousel-inner{
    object-fit: relative;
}

.contenedorCarousel{
 /*    width: auto;
 */
}

.contenedorUno {
    background-color: black;
    
}

hr{
    color: white;
    width: 100%;
    justify-content: center;
}

.contenedorUno .row{
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 5%;
}

.parrafo{
    padding: 0% 2%;
}

.boton1{
    width: 100% !important;
    max-height: 50px;
    border-radius: 1px !important;
    border: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
 

}

.boton1:hover{
    color: rgb(0, 110, 255) !important;
    background-color: rgb(51, 240, 199) !important;
}

i{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 28px;

}

.contenedorDos{
    background-color: black;
    text-align: center;
    padding-bottom: 5%;
    padding-left: 7%;
    padding-right: 7%;
}

.card-body{
    text-align: left !important;
    color: white;
    
}

.contendor-arregloImagen{
    overflow: hidden;  
    width: auto;
    height: 180px;
    min-height: 37%;
    max-height: 43%;
   
}

.arregloImagen1{
    width: 110%;
    position: center center;
    object-fit: cover;
}


.formulario{
    padding-left: 10%;
    padding-right: 10%;
    background-color: black;
}